<html>
<head>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        /* Barre de navigation */
        .navbar {
            overflow: hidden;
            background-color: #333;
        }
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        /* Titre centré */
        h1 {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="navbar">
       <a href="{{ path('app_home') }}">Home Page</a>
       <a href="{{ path('app_contact') }}">Contact Us</a>
    </div>

    <h1>the author Name : {{ authorName }}</h1>
    <h1>the author Email : {{ authorEmail }}</h1>

</body>
</html>
